DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_NAME=medias
DATABASE_USER=postgres
DATABASE_PASSWORD=change-me
DATABASE_SSL=false
DATABASE_SEED=true

# Local processes
FRONTEND_PORT=3000
API_PORT=3001
API_URL=http://localhost:3001
